<div class="error-bar" *ngIf="apiFailed">Google API failed to load!</div>
<header>
  <div style="float: left"><h1>Slack Status Scheduler</h1></div>
  <div class="user-status" *ngIf="isSignedIn">
    <ul>
      <li>{{ user.w3.U3 }}</li>
      <li><a (click)="handleSignoutClick()">sign out</a></li>
      <li><a (click)="updateUpcomingEvents()">refresh</a></li>
    </ul>
  </div>
  <div class="google-authorize" *ngIf="!isSignedIn">
    <button class="google-login-btn" (click)="handleAuthClick()" [disabled]="!apiReady">
      Authorize Google
    </button>
  </div>
</header>
<div class="main-app">
  <div class="user-events" *ngIf="events.length">
    <h2>Upcoming Events</h2>
    <ul>
      <li class="user-event" *ngFor="let event of events">
        <div>
          <div class="icon-container">
            <i *ngIf="scheduledEvents[event.id]" [class]="'icon-' + scheduledEvents[event.id].icon">
            </i>
          </div>
          <div class="icon-helptext">Start Icon</div>
        </div>
        <div>
          <div class="icon-container icon-container--pink">
            <i *ngIf="scheduledEvents[event.id]" [class]="'icon-' + scheduledEvents[event.id].expiresIcon">
            </i>
          </div>
          <div class="icon-helptext">End Icon</div>
        </div>
        <div>
          <div>
            <a href="{{ event.htmlLink }}" target="_blank">{{ event.summary }}</a>
          </div>
          <div>
            {{ event.location }}
          </div>
          <div>
            {{ event.start.dateTime | date:'short' }} - {{ event.end.dateTime | date:'shortTime' }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
